body {
    background-image: url("OBS.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

    h1 {
    color: navy;
    margin-left: 20px;
    }